#enable_html_escaping()
<html>
    <head>
        <title>$action.getText("confluence-confidentiality.space.admin.page.title")</title>
        <meta name="decorator" content="main"/>
##        <meta name="decorator" content="atl.admin"> ## changes page layout to global admin
        $webResourceManager.requireResource("ch.nine.confluence-confidentiality:confluence-confidentiality-admin-resources")
    </head>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        ## Name of the tab to highlight: space-administration is also valid.
        #decoratorParam("context" "space-operations")

        #applyDecorator ("root")
            ## The .vmd to use - This one displays both in Space Admin and Space Tools.
            #decoratorParam ("context" "spaceadminpanel")
            ## Key of the web-item to highlight in Space Admin
            #decoratorParam ("selection" "quick-link-manager-2")
            ## Key of the web-item to highlight in Space Tools
            #decoratorParam ("selectedSpaceToolsWebItem" "quick-link-manager")
            #decoratorParam ("helper" $action.helper)
            <body>
                #foreach( $err in $action.getActionErrors() )
                <div class="aui-message error closeable shadowed">
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>Error!</strong>
                    </p>
                    <p>$err</p>
                </div>
                #end
                <div id="admin-confidentiality" class="aui">
                    ## TODO: make it work, instead of button:
##                    <div class="field-group">
##                        <aui-label for="confidentiality-enabled">$i18n.getText("confluence-confidentiality.space.admin.page.confidentiality.button.label")</aui-label>
##                        <aui-toggle label="toggle button" id="confidentiality-enabled" checked #if ($action.confidentialityEnabled() == true) checked #end></aui-toggle>
##                    </div>
                    <div class="field-group"> ## FIXME: acctually make it store value:
                        <label for="enable-confidentiality">$i18n.getText("confluence-confidentiality.space.admin.page.confidentiality.button.label")</label>
                        <button class="aui-button aui-button-primary" id="enable-confidentiality">#if($action.confidentialityEnabled() == true) $i18n.getText("confluence-confidentiality.space.admin.page.confidentiality.button.enabled") #{else} $i18n.getText("confluence-confidentiality.space.admin.page.confidentiality.button.disabled") #end</button>
                    </div>
##                    #if($action.confidentialityEnabled()) ## TODO: uncoment when storing isEnabled will work
                    <div class="field-group">
                        <label for="space-confidentiality-table"></label>
                        <table id="space-confidentiality-table">
                            ## filled by JS.
                        </table>
                    </div>
##                    #end
                </div>
            </body>
        #end
    #end
</html>